<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.renthouse.dao.TestDao">
    
    <insert id="addTest" parameterType="com.renthouse.pojo.Test">
        insert into test (db_name, db_source) values (#{dbName}, DATABASE())
    </insert>

    <delete id="deleteTestById" parameterType="java.lang.Long">
        delete from test where id = #{id}
    </delete>

    <update id="modifyTestById" parameterType="java.lang.Long">
        update test set db_name = #{dbName}, db_source = DATABASE()
        where id = #{id}
    </update>
    <select id="queryAllTest" resultType="com.renthouse.pojo.Test">
        select id,db_name as dbName,db_source as dbSource
        from test
    </select>

    <select id="queryTestById" parameterType="java.lang.Long" resultType="com.renthouse.pojo.Test">
        select id,db_name as dbName,db_source as dbSource
        from test
        <where>
            <if test="null != id">
                id = #{id}
            </if>
        </where>
    </select>

</mapper>